# Web Framework ve Sunucu
fastapi
uvicorn
python-multipart
requests

# Veri İşleme ve Makine Öğrenmesi
scikit-learn
joblib
numpy>=1.23.5
scipy>=1.10.0
pandas>=2.0.0
statsmodels>=0.14.0
tensorflow>=2.15.0

# Optimizasyon Motoru
pulp
xgboost

# Veritabanı (PostgreSQL) ve ORM
sqlalchemy
psycopg2-binary

# Performans ve Hız (Redis)
redis

# Zamanlanmış Görevler (Airflow uyumluluğu için gerekebilir)
apache-airflow-client